@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
	body {
		font-family: "Montserrat";
	}
} */

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
